<!-- header -->
<header>

    <!-- header first line -->
    <div class="header_firstline">
        <div class="header_firstline-content container">
            <div class="header_firstline__left_box">
                <img class="header_firstline__left_box-logo" src="/assets/header/logo.svg" alt="logo">

                <nav class="header_firstline__left_box-nav">
                    <a href="#" routerLink="" class="header-menu_item">{{main}}</a>
                    <a href="#" *ngIf="isShowCatalog" class="header-menu_item">{{catalog}}</a>
                    <a href="#" routerLink="users" class="header-menu_item">{{users}}</a>
                    <a href="#" routerLink="todos" class="header-menu_item">{{todos}}</a>
                </nav>
            </div>

            <button (click)="changeMenuText()">Изменить текст</button>

            <div class="header_firstline__right_box">
                <div class="header_firstline__right_box-telicon">
                    <img src="/assets/header/phone.svg" alt="">
                    <a href="tel:+79650842929" class="tel_link">+7 (965) 084-29-29</a>
                </div>
                <a href="#" class="header_firstline__right_box-binicon" yellow><img src="/assets/header/bin.svg"
                        alt="">Пусто</a>


                <ng-container *ngIf="userService.user$ | async as user; else notAuth">
                    <button (click)="logout()" matTooltip="ВЫХОД" class="header_firstline__right_box-binicon" yellow>
                        <mat-icon>logout</mat-icon>Выйти ({{user.name}})
                    </button>
                    <button *ngIf="user.isAdmin" routerLink="/admin" matTooltip="АДМИНКА"
                        class="header_firstline__right_box-binicon" yellow>
                        <mat-icon>admin_panel_settings</mat-icon>Админка
                    </button>
                </ng-container>

                <ng-template #notAuth>
                    <button (click)="openDialogLogIn()" matTooltip="ВХОД" class="header_firstline__right_box-binicon"
                        yellow>
                        <mat-icon>login</mat-icon>Войти
                    </button>
                </ng-template>
            </div>
        </div>
    </div>

    <!-- header second line -->
    <div class="header_secondline">
        <div class="header_secondline-content container">
            <div class="header_secondline__left_box">
                <img src="/assets/header/list.svg" alt="list" class="header_secondline-img">

                <nav class="header_secondline__left_box-nav">
                    <a href="#" *ngFor="let item of menuItems" class="menu_item_secondline">{{item}}</a>

                    <div>{{ currentDate | date:'medium' }}</div>
                </nav>
            </div>

            <div class="header_secondline__right_box">
                <input class="header_secondline__input" type="text" placeholder="Поиск, например Круг зачистной">
                <div class="header_secondline__right_box-geoicon"><img src="/assets/header/geo.svg" alt="geo">Москва
                </div>
            </div>
        </div>
    </div>
</header>