<!-- footer -->
<footer class="footer">
    <div class="footer_top-content container">
        <div class="footer_top-content-left">
            <img src="/assets/logo.svg" alt="">
            <div class="footer_contacts">
                <div class="footer_contacts-tel">
                    <img src="/assets/footer/footer_tel.png" alt="">
                    <div class="footer_contacts-tel__textbox">
                        <div class="footer_contacts-tel__textbox-title">Контактный телефон</div>
                        <a href="tel:+78123090934" class="footer_contacts-tel__textbox_telinfo">+ 7 (812) 309-09-34</a>
                        <a href="tel:+79650842909" class="footer_contacts-tel__textbox_telinfo">+ 7 (965) 084-29-09</a>
                    </div>
                </div>

                <div class="footer_contacts-tel">
                    <img src="/assets/footer/footer_mail.png" alt="">
                    <div class="footer_contacts-tel__textbox">
                        <div class="footer_contacts-tel__textbox-title">Электронная почта</div>
                        <a href="mailto:tustin78@mail.ru"
                            class="footer_contacts-tel__textbox_telinfo">tustin78mail.ru</a>
                        <a href="mailto:info@tustin.ru" class="footer_contacts-tel__textbox_telinfo">infotustin.ru</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_top-content-right">
            <div class="footer_top-content-right__title">Остались вопросы?</div>
            <div class="footer_top-content-right__description">Узнавайте первым о скидках, предложениях и событиях
                еженедельно
                в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</div>

            <div class="footer_input">
                <input class="footer_input_text" type="text" placeholder="Введите свою почту">
                <button class="footer_input_submit" type="submit">Отправить</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="footer_content-botton container">
        <nav>
            <a href="#">Главная</a>
            <a href="#">О компании</a>
            <a href="#">Каталог</a>
        </nav>

        <div class="footer_content-botton_contacts">
            <div class="footer_content-botton_contacts-icons">
                <img src="/assets/footer/footer_fb.png" alt="">
                <img src="/assets/footer/footer_utube.png" alt="">
                <img src="/assets/footer/footer_wu.png" alt="">
            </div>

            <div class="footer_content-botton_contacts_description">© 2021-2022, EDE</div>
        </div>
    </div>
</footer>