.form-title {
    font-size: 28px;
    font-weight: 500;
    padding: 28px 0px;
    margin: 0;
    margin-top: 20px;
}

.todo-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.form-field {
    width: 100%;
    margin-bottom: 16px;
}

.todo-form button {
    background-color: #F0BA4E;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
    height: 100%;
    color: #000000;
    cursor: pointer;
    width: 50%;
}

.todo-form button:disabled {
    opacity: 0.5;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 8px 0;
}

.mat-label_radio {
    padding-bottom: 24px;
}
