<div class="users-list container">

    <button mat-raised-button (click)="openDialogCreate()" class="create_user-btn"><mat-icon>add</mat-icon>Создать юзера</button>

    <h3 class="title_3">Список юзеров</h3>

    <div class="users_cards">
        <div class="users_cards-card" *ngFor="let user of users$ | async">
            <app-user-card 
            [user]="user" 
            (deleteUser)="deleteUser(user.id)"
            (editUser)="editUser($event)"></app-user-card>
        </div>
    </div>
</div>