.users_cards-name {
    font-size: 23px;
    font-weight: 700;
    margin: 0;
}

.users_cards-email {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;
}

.users_cards-website {
    font-size: 16px;
    font-weight: 500;
    color: rgba(161, 160, 160, 1);
    padding-bottom: 10px;
}

.users_cards-button {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #F0BA4E;
    border-radius: 54px;
    padding: 14px 0px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    background-color: #ffffff;
}