<mat-card class="user-card" shadow>
    <mat-card-title>{{user.name }}</mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content>
        <mat-card-subtitle>
            <mat-icon>email</mat-icon> {{user.email}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            <mat-icon>public</mat-icon> {{user.website}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            <mat-icon>business</mat-icon> {{user.company.name}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            <mat-icon>phone</mat-icon> {{user.phone | removeSlashes }}
        </mat-card-subtitle>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="todo-actions">
        <button mat-button (click)="openDialogEdit()" class="edit-btn">
            <mat-icon>edit</mat-icon> Редактировать
        </button>
        <button mat-button (click)="openDialogDelete()" class="delete-btn">
            <mat-icon>delete</mat-icon> Удалить
        </button>
    </mat-card-actions>
</mat-card>