.todo-card {
    padding: 24px;
    width: 309px;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);

    mat-card-title,
    .todo-value {
        font-size: 20px;
        color: #3C3C3B;
        padding: 0px 0px 12px 0px
    }

    .todo-label {
        font-size: 16px;
        color: #A1A0A0;
        padding-bottom: 0px 0px 6px 0px;
        margin: 0;
    }

    .todo-value_checkbox {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #f44336;
    }

    .todo-value_checkbox .completed,
    .completed~.todos_description {
        color: #4CAF50;
    }

    mat-divider {
        border-top-color: rgba(0, 0, 0, 0.08);
        margin: 24px 0px;
    }

    mat-card-content {
        padding: 0;
    }

    .todo-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        padding: 0;

        .edit-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            font-weight: 500;
            border: 1px solid #F0BA4E;
            border-radius: 54px;
            padding: 14px 28px;
            text-align: center;
            color: #000000;
            cursor: pointer;
            background-color: #ffffff;

            &:hover {
                background-color: #f0ba4e4a;
                transition: 0.3s;
            }
        }

        .delete-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 13px;
            font-weight: 500;
            border: none;
            padding: 0px 28px;
            padding-top: 14px;
            text-align: center;
            color: #000000;
            cursor: pointer;
            background-color: #ffffff;
        }
    }
}