<mat-card class="todo-card">
    <mat-card-title>Детали задачи</mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content>
        <div class="todo-field">
            <h4 class="todo-label">Заголовок</h4>
            <div class="todo-value">{{todo.userId}}</div>
        </div>

        <div class="todo-field">
            <h4 class="todo-label">Описание задачи</h4>
            <div class="todo-value">{{todo.title | cutText}}</div>
        </div>

        <div class="todo-field">
            <h4 class="todo-label">Задача завершена?</h4>

            <div class="todo-value_checkbox">
                <mat-icon class="status-icon" [class.completed]="todo.completed">
                    {{todo.completed ? 'check_circle' : 'cancel'}}
                </mat-icon>

                <div class="todos_description">
                    {{todo.completed ? 'ДА' : 'НЕТ'}}
                </div>
            </div>
        </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="todo-actions">
        <button mat-button (click)="openDialogEdit()" class="edit-btn">
            <mat-icon>edit</mat-icon> Редактировать
        </button>
        <button mat-button (click)="openDialogDelete()" class="delete-btn">
            <mat-icon>delete</mat-icon> Удалить
        </button>
    </mat-card-actions>
</mat-card>