.todos_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.title_3 {
    font-size: 28px;
    font-weight: 500;
    padding: 28px 0px;
    margin: 0px;
}

.create_todo-btn {
    background-color: #F0BA4E;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
    height: 100%;
    color: #000000;
    cursor: pointer;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    border: none;
    margin: 20px 0px;
}