.todos_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    &-card {
        width: 264px;
        background-color: #ffffff;
        padding: 24px;
        color: rgba(60, 60, 59, 1);
        box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
        position: relative;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
}

.title_3 {
    font-size: 28px;
    font-weight: 600;
    padding: 28px 0px;
    margin: 0;
    margin-top: 20px;
}